.image-container {
  display: flex;
  padding-bottom: 10%;
}
.about-heading-img {
  height: 20em;
  width: 11.5em;
  margin: 0 auto;
  justify-content: center;
  border: 0px solid black;
  border-radius: 2%;
  margin-top: -5%;
}
@media (max-width: 450px) {
  .about-me-content p {
    text-align: center;
  }
  .skill-icons-left {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-left: -3%;
  }
  .skill-icons-right {
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-left: -6%;
  }
  /* Slick */

  .about-slider div {
    text-align: center;
    margin-top: 1%;
  }
  .slick-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
  }
  .slick-nav button {
    padding: 0 30% 0 30%;
    font-size: 2.4em;
    color: #00adb7;
    font-weight: 600;
    background: transparent;
    border: none;
  }

  .hidden-container-prev,
  .hidden-container-next {
    font-weight: 600;
    font-size: 2.4em;
  }
  .hidden-container-prev button,
  .hidden-container-next button {
    color: rgba(0, 0, 0, 0.2);
    background: transparent;
    border: none;
    position: absolute;
  }
  .slick-prev-hidden {
    top: 48%;
    left: 20%;
    z-index: 5;
  }
  .slick-next-hidden {
    top: 48%;
    right: 20%;
  }
  [alt="javascript icon"],
  [alt="python icon"] {
    margin-top: 24px;
  }
  [alt="postgresql icon"] {
    margin-top: -15%;
  }
  .slick-dots {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    margin-top: 5%;
  }

  [role="presentation"] {
    border: 1px solid #00adb7;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
    height: 0.98rem;
  }
  .about-slide {
    background: transparent !important;
  }
  .slick-active {
    background: #00adb7;
  }
}
@media (min-width: 451px) {
  .skills-container {
    display: flex;
    justify-content: center;
  }
  /* Slick */
  .hidden-container-prev,
  .hidden-container-next {
    display: none;
  }
  .about-slider div {
    text-align: center;
    margin-top: 1%;
  }
  .slick-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 15%;
  }
  .slick-nav button {
    padding: 0 30% 0 30%;
    font-size: 3.2em;
    color: #00adb7;
    font-weight: 600;
    background: transparent !important;
    border: none !important;
  }
  .slick-dots {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    margin-top: 5%;
  }

  [role="presentation"] {
    border: 1px solid #00adb7;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
    height: 0.98rem;
  }
  .about-slide {
    background: transparent !important;
  }
  .slick-active {
    background: #00adb7;
  }
  [role="presentation"] button {
    background: transparent;
    border: none;
  }
  [role="presentation"] button:focus {
    display: none;
  }
}
