.image-container {
  display: flex;
  padding-bottom: 10%;
}
.about-heading-img {
  height: 20em;
  width: 11.5em;
  margin: 0 auto;
  justify-content: center;
  border: 0px solid black;
  border-radius: 2%;
  margin-top: -5%;
}
