.image-container {
  display: flex;
  padding-bottom: 10%;
}
.about-heading-img {
  height: 20em;
  width: 11.5em;
  margin: 0 auto;
  justify-content: center;
  border: 0px solid black;
  border-radius: 2%;
  margin-top: -5%;
}
@media (max-width: 450px) {
  .about-me-content p {
    text-align: center;
  }
  .skill-icons-left {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-left: -3%;
  }
  .skill-icons-right {
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-left: -6%;
  }
  /* Slick */

  .about-slider div {
    text-align: center;
    margin-top: 1%;
  }
  .slick-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
  }
  .slick-nav button {
    padding: 0 30% 0 30%;
    font-size: 2.4em;
    color: #00adb7;
    font-weight: 600;
    background: transparent;
    border: none;
  }
}
@media (min-width: 451px) {
  .skills-container {
    display: flex;
    justify-content: center;
  }
  /* Slick */

  .about-slider div {
    text-align: center;
    margin-top: 1%;
  }
  .slick-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
    margin-top: 15%;
  }
  .slick-nav button {
    padding: 0 30% 0 30%;
    font-size: 3.2em;
    color: #00adb7;
    font-weight: 600;
    background: transparent !important;
    border: none !important;
  }
}
