@media (max-width: 440px) {
  .certificate-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .certificate-grid-container h3,
  .certificate-grid-container h4 {
    grid-column: 1 / span 2;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    margin-top: 5%;
  }
  .certificate-grid-container h4 {
    margin-top: 0%;
  }

  .certificate-item > a > img {
    width: 204px;
    height: 200px;
    padding: 14% 5% 14% 5%;
  }
  #GA-item {
    grid-column: 1 / span 2;
    margin: 0 auto;
  }
  .first-item {
    margin-left: 2%;
    padding-right: 2%;
  }
}
@media (min-width: 441px) {
  .certificate-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .certificate-grid-container h4 {
    margin: 20%;
    font-size: 4em;
    color: #000;
    font-weight: 900;
  }
  .certificate-item > a > img {
    max-width: 604px;
    max-height: 820px;
    padding: 3%;
    padding-left: 5%;
  }
  #GA-item {
    grid-column: 1 / span 2;
    margin: 0 auto;
  }
  .left-item {
    margin-left: 10%;
  }
  .right-item {
    margin-left: 10%;
  }
}
