.navbar-nav {
  max-width: 100%;
}

.nav-item a {
  font-size: 1em !important;
}
.intro-text {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
  margin: 0 auto;
  font-size: 0.8em !important;
  font-weight: 200;
}
#perseverance {
  margin: 0 auto;
  font-size: 0.8em;
  font-weight: 200;
}
.intro-button {
  animation-name: fadeIn;
  animation-duration: 7s;
  animation-iteration-count: 1;
}
.intro-img {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
.site-heading {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fa:hover {
  text-decoration: none;
}
@media (max-width: 480px) {
  .intro-img {
    margin-top: 5%;
  }
}
