.right {
  float: right;
}
.left {
  float: left;
}
.chart-legend {
  font-weight: 700;
  color: black;
  font-size: 1.2em;
  width: 80%;
}
.chartjs-render-monitor {
  max-width: 500px;
}
/* Legend */
.legend-heading {
  text-align: center;
  text-decoration: underline;
}
.color-box {
  width: 14px;
  height: 14px;
  border: 1px solid black;
}
.color-box-1 {
  background-color: rgba(0, 173, 183, 0.8);
}
.color-box-2 {
  background-color: #75f27e;
}
.color-box-3 {
  background-color: #58d6c1;
}
.color-box-4 {
  background-color: rgba(56, 92, 224, 0.8);
}
.color-box-5 {
  background-color: rgba(39, 165, 232, 0.8);
}

.legend-label {
  margin-left: 20px;
  margin-top: -8px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.7px;
  font-weight: 500;
}

@media (max-width: 450px) {
  .bg-faded {
    width: 100%;
  }
  .chart-legend .row {
    margin: 0 auto;
  }
  .legend-heading {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
  }
}
.pie-chart {
  max-width: 100%;
}
/* body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../img/coffee.JPG) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
