body {
  overflow-x: hidden;
}

.site-heading-upper {
  font-size: 6.4rem !important;
}
.site-heading-lower {
  font-size: 3rem !important;
}
.navbar-nav {
  max-width: 100%;
}
.nav-item a {
  font-size: 1.2em !important;
}
.heading-title {
  margin-bottom: 5%;
  position: absolute;
  float: left;
}
.freelance-title {
  font-size: 4rem !important;
  padding: 0 0 2% 0;
}

.landing-title a {
  font-size: 2em;
  color: #00adb7 !important;
}

.text-primary {
  font-family: "Raleway";
  color: #00adb7 !important;
}
@media (min-width: 768px) {
  #navbarResponsive {
    display: flex !important;
  }
  .first-container .product-item-img:first-of-type {
    margin-top: 20%;
  }
  #hackerHunter .product-item-img:first-of-type {
    margin-top: 25%;
  }
}

#projects {
  font-family: "Lora";
  background-image: url("../img/coffee.JPG") !important;
  background-attachment: fixed !important;
  background-position: center;
  background-size: cover;
}
.category-heading {
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.product-item {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.site-heading {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden-challenge-text {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  padding: 30px;
}

@media (min-width: 451px) {
  .card-games-image-container {
    background: url(../img/war-desktop.JPG);
    height: 400px;
    width: 100%;
    background-size: cover;
    margin-bottom: 4%;
    border: none;
    border-radius: 0.5%;
  }
  .card-games-image-container img {
    display: none !important;
  }
}
@media (max-width: 450px) {
  .first-container .product-item-img:first-of-type {
    margin-top: 55%;
  }
  #hackerHunter .product-item-img:first-of-type {
    margin-top: 65%;
  }
  .card-games-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 491px;
  }
  .card-games-image {
    height: 40em;
    border: 1px solid black;
    position: absolute;
    margin-top: -85px;
    clip: rect(61px, 312px, 563px, 37px);
  }
  .e-commerce-image-container {
    height: 40em;
    background: url(../img/isell-mobile.JPG);
    margin-bottom: 15px;
  }
  .shop-it-header h2 {
    font-family: Raleway;
    font-weight: 100 !important;
  }
  .community-header {
    margin-left: -6%;
  }
  .landing-title a {
    font-size: 0.9em;
  }
  .chart-legend {
    width: 100%;
  }
  .legend-heading {
    margin: 14% 0 7% 0 !important;
  }
}
@media (min-width: 789px) {
  .e-commerce-image-container {
    height: 30em;
    background: url(../img/isell-desktop.jpg);
    margin-bottom: 15px;
    background-size: cover;
    margin-top: -10%;
  }
  .e-commerce-heading {
    margin-top: 76%;
  }
  .personal-projects-container h2 {
    width: 100%;
  }
  .shop-it-header {
    margin-top: 14%;
  }
}
.footer .phone-number-hidden {
  display: none;
}
